body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#territory-form {
  margin-bottom: 1em;
}

.btn {
  margin-bottom: 1em;
}

.home * {
  max-width: 500px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.dnc-form {
  position: relative;
  border-radius: 15px;
  display: flex;
  display: -webkit-flex;
  flex: 0 0 auto;
  flex-direction: column;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.dnc-form div.input-row {
  display: flex;
  display: -webkit-flex;
  flex: 0 0 auto;
  justify-content: space-between;
  margin-bottom: 10px;
}

.dnc-form div.input-row input, .dnc-form div.input-row select {
  width: 50%;
}

.dnc-form svg {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px !important;
  height: 40px;
}

.dnc-form svg:hover {
  transform: scale(1.1);
  cursor: pointer;
}

ul.csv-requirements {
  text-align: left;
}